#header {
  background-color: blue;
}

#section1 {
  background: url(../Illustration/img1.png);

  height: 900px;
}

#footer {
  background-color: #000000;
  height: 300px;
}


  @font-face {
    font-family: "HeroTitre";
    src: local("/font/Typo-FarFromHomecoming.woff2") format('woff2');
  }

  .fontTitreHero{
    font-family: "HeroTitre";
  }

  .titreText{
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
